*{
  margin:0;
  padding:0;
}
*,
*::after,
*::before{
  box-sizing: border-box;
}
body{
  display: grid;
  place-content: center;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}


.calculator{ 
  width: 550px;
  background-color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 70px;
}
.display{
  height: 80px;
  width: 100%;
  display: flex;
  background-color: aqua;
}
.display p{
  margin-left: auto;
}


.buttons{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}